.all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  object-fit: fill;
}

.image {
  width: 300px;
  height: 400px;
  margin-top: 10px;
  border: 2px solid tomato;
  padding: 5px;
}

.image:hover {
  opacity: 0.8;
}

.modal-image {
  width: 455px;
  height: 300px;
}
